@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
:root {
  --primary-color: #c6c3c3;
  --second-color: #ffffff;
  --black-color: #000000;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsForm::after{
  content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color)

}

.buttonsForm::before{
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
  box-shadow: 15px 0 0 0 var(--primary-color);
}

.container {
  background-color: whitesmoke;
  padding: 6px;
  width:36%;
  min-height: 93vh;
  background-color: rgba(0, 0, 0, 0.2);
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgrey;
}

form {
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 375px;
  height: 400px;
}

.buttonsForm {
  margin-top: 2px;
    border-radius: 30px;
    /*box-shadow: 0 0 7px 0 blueviolet;*/
    height: 10%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: var(--primary-color);
    width: 372px;
    height: 81px;
    border-radius: 0 0 20px 20px;
}

.texto{
  font-size: 22px;
  color: var(--black-color);
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

/*.btnColor {
  position: absolute;
  width: 208px;
  height: 100%;
  background-color:rgb(142, 142, 123); 
  border-radius: 30px;
  transition: .3s;
}*/

input[type="text"], input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 104%;
}

button[type="submit"] {
  background: #faf9fa;
  color: rgb(14, 14, 14);
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

#signin {
  left: 95px;
  top: 60px;

  background-color: cadetblue;
}

#signup {
  left: 750px;

  background-color: blueviolet;
}

i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iEmail {
  top: 40px;
}

.iPassword {
  top: 114px;
}

.iPassword2{
  top:191px;
}

.fa-user{
  top:114px
}

.iPassword3 {
  top: 266px;
}