/* Importando a fonte Poppins do Google Fonts com diferentes pesos */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Definindo variáveis de cores no root (elemento raiz) para reutilização */
:root {
    --light: #f6f6f9; /* Cor de fundo clara */
    --primary: #1976D2; /* Cor primária */
    --light-primary: #CFE8FF; /* Cor primária mais clara */
    --grey: #eee; /* Cor cinza */
    --dark-grey: #AAAAAA; /* Cor cinza mais escura */
    --dark: #363949; /* Cor escura */
    --danger: #D32F2F; /* Cor de aviso de perigo */
    --light-danger: #FECDD3; /* Cor de aviso de perigo mais clara */
    --warning: #FBC02D; /* Cor de aviso */
    --light-warning: #FFF2C6; /* Cor de aviso mais clara */
    --success: #388E3C; /* Cor de sucesso */
    --light-success: #BBF7D0; /* Cor de sucesso mais clara */
}

/* Definindo estilos padrão para todo o documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Usando a fonte Poppins */
}

/* Estilizando um elemento com a classe .bx */
.bx {
    font-size: 1.7rem; /* Tamanho da fonte */
}

/* Removendo decoração de texto para elementos âncora */
a {
    text-decoration: none;
}

/* Removendo marcadores de lista */
li {
    list-style: none;
}

/* Aplicando estilo ao elemento html para ocultar a barra de rolagem horizontal */
html {
    overflow-x: hidden;
}

/* Estilos para o corpo do documento */
body.dark {
    /* Mudando as variáveis de cor para o tema escuro */
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb;
}

/* Estilos para o corpo do documento */
body {
    background: var(--grey); /* Cor de fundo */
    overflow-x: hidden; /* Ocultando a barra de rolagem horizontal */
}

/* Estilos para a barra lateral */
.sidebar {
    position: fixed; /* Fixando a posição */
    top: 0;
    left: 0;
    background: var(--light); /* Cor de fundo */
    width: 230px; /* Largura */
    height: 100%; /* Altura */
    z-index: 2000; /* Z-index para empilhamento */
    overflow-x: hidden; /* Ocultando a barra de rolagem horizontal */
    scrollbar-width: none; /* Ocultando a barra de rolagem do navegador */
    transition: all 0.3s ease; /* Transição suave */
}

/* Ocultando a barra de rolagem da barra lateral no navegador Chrome */
.sidebar::-webkit-scrollbar {
    display: none;
}

/* Aplicando estilo quando a barra lateral está fechada */
.sidebar.close {
    width: 60px; /* Reduzindo a largura */
}

/* Estilos para o logotipo na barra lateral */
.sidebar .logo {
    font-size: 24px; /* Tamanho da fonte */
    font-weight: 700; /* Peso da fonte */
    height: 56px; /* Altura */
    display: flex; /* Flexbox */
    align-items: center; /* Alinhamento vertical */
    color: var(--primary); /* Cor do texto */
    z-index: 500; /* Z-index para empilhamento */
    padding-bottom: 20px; /* Espaçamento inferior */
    box-sizing: content-box; /* Modelo de caixa */
}

/* Estilizando o nome do logotipo */
.sidebar .logo .logo-name span {
    color: var(--dark); /* Cor do texto */
}

/* Estilizando o ícone do logotipo */
.sidebar .logo .bx {
    min-width: 60px; /* Largura mínima */
    display: flex; /* Flexbox */
    justify-content: center; /* Alinhamento horizontal */
    font-size: 2.2rem; /* Tamanho da fonte */
}

/* Estilos para o menu lateral */
.sidebar .side-menu {
    width: 100%; /* Largura */
    margin-top: 48px; /* Espaçamento superior */
}

/* Estilos para os itens do menu lateral dentro da barra lateral */
.sidebar .side-menu li {
    height: 48px; /* Altura */
    background: transparent; /* Fundo transparente */
    margin-left: 6px; /* Margem esquerda */
    border-radius: 48px 0 0 48px; /* Borda arredondada */
    padding: 4px; /* Preenchimento */
}

/* Estilos para o item ativo no menu lateral */
.sidebar .side-menu li.active {
    background: var(--grey); /* Cor de fundo para o item ativo */
    position: relative; /* Posição relativa */
}

/* Pseudo-elemento ::before para criar um efeito visual para o item ativo */
.sidebar .side-menu li.active::before {
    content: ""; /* Conteúdo vazio */
    position: absolute; /* Posição absoluta */
    width: 40px; /* Largura */
    height: 40px; /* Altura */
    border-radius: 50%; /* Borda arredondada */
    top: -40px; /* Posicionamento superior */
    right: 0; /* Posicionamento direito */
    box-shadow: 20px 20px 0 var(--grey); /* Sombra */
    z-index: -1; /* Z-index para empilhamento */
}

/* Pseudo-elemento ::after para criar um efeito visual para o item ativo */
.sidebar .side-menu li.active::after {
    content: ""; /* Conteúdo vazio */
    position: absolute; /* Posição absoluta */
    width: 40px; /* Largura */
    height: 40px; /* Altura */
    border-radius: 50%; /* Borda arredondada */
    bottom: -40px; /* Posicionamento inferior */
    right: 0; /* Posicionamento direito */
    box-shadow: 20px -20px 0 var(--grey); /* Sombra */
    z-index: -1; /* Z-index para empilhamento */
}

/* Estilos para os links dentro dos itens do menu lateral */
.sidebar .side-menu li a {
    width: 100%; /* Largura */
    height: 100%; /* Altura */
    background: var(--light); /* Cor de fundo */
    display: flex; /* Flexbox */
    align-items: center; /* Alinhamento vertical */
    border-radius: 48px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    color: var(--dark); /* Cor do texto */
    white-space: nowrap; /* Não quebrar texto */
    overflow-x: hidden; /* Ocultar rolagem horizontal */
    transition: all 0.3s ease; /* Transição suave */
}

/* Estilos para o link ativo dentro do menu lateral */
.sidebar .side-menu li.active a {
    color: var(--success); /* Cor do texto para o link ativo */
}

/* Estilos para os ícones dentro dos links do menu lateral */
.sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2)); /* Largura mínima para o ícone */
    display: flex; /* Flexbox */
    font-size: 1.6rem; /* Tamanho da fonte */
    justify-content: center; /* Alinhamento horizontal */
}

/* Estilos para o link de logout dentro do menu lateral */
.sidebar .side-menu li a.logout {
    color: var(--danger); /* Cor do texto para o link de logout */
}

/* Estilos para o conteúdo principal */
.content {
    position: relative; /* Posição relativa */
    width: calc(100% - 230px); /* Largura */
    left: 230px; /* Posicionamento à esquerda */
    transition: all 0.3s ease; /* Transição suave */
}

/* Estilos para o conteúdo quando a barra lateral está fechada */
.sidebar.close ~ .content {
    width: calc(100% - 60px); /* Largura quando fechada */
    left: 60px; /* Posicionamento à esquerda quando fechada */
}

/* Estilos para a navegação dentro do conteúdo */
.content nav {
    height: 56px; /* Altura */
    background: var(--light); /* Cor de fundo */
    padding: 0 24px 0 0; /* Preenchimento */
    display: flex; /* Flexbox */
    align-items: center; /* Alinhamento vertical */
    grid-gap: 24px; /* Espaçamento entre elementos */
    position: sticky; /* Posição fixada */
    top: 0; /* Posicionamento superior */
    left: 0; /* Posicionamento esquerdo */
    z-index: 1000; /* Z-index para empilhamento */
}


.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}

.content nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li{
    color: var(--dark);
}

.content main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}