/* Importa as fontes 'EB Garamond' e 'Poppins' do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset de estilos padrão para elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Configurações gerais do corpo da página */
body {
  background: #b0a7a7;
}

/* Estilos para o cabeçalho (header) fixo */
.header {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 13px 3%; */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; */

  background: #fbfdfd;
  /* box-shadow: 0px 3px 10px #464646; */
}



/* Estilos para a barra de navegação (navbar) */
.navbar {
  /* align-items: center; */
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.nav-list{
  display: flex;
  align-items: center;
}

.nav-list ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item{
  margin: 0 15px;
  /* list-style: none; */
}

.nav-link{
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.mobile-menu-icon{
  display: none;
}

.modile-menu{
  display: none;
}

@media screen and (max-width: 730px){
  .navbar{
    padding: 1.5rem 4rem;
  }

  .nav-item{
    display: none;
  }

  .mobile-menu-icon{
    display: block;
  }

  .mobile-menu-icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .modile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .modile-menu .nav-item{
    display: block;
    padding-top: 1.2rem;
  }

  .open{
    display: block;
  }
}










/* Estilos para os links na barra de navegação */
.navbar a {
  font-size: 18px;
  text-decoration: none;
  color: #020202;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

/* Estilos para links na navegação ao passar o mouse e quando ativo */
.navbar a:hover,
.navbar a.ativado {
  color: aqua;
}

/* Estilos para a seção de banner */
.banner {
  height: fit-content;
  padding: 125px 0;
  color: white;
  background-image: url("../images/logo/banner7.png");
  background-size: cover;
}

/* Estilos para o container dentro do banner */
.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

/* Estilos para os parágrafos dentro do banner */
.banner p {
  margin-left: 100px;
  margin-top: 50px;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

/* Estilos para a classe 'span' dentro do container do banner */
.banner .container span {
  font-weight: 800;
}

/* Estilos para a seção social */
.social {
  background-color: #fff;
  display: flex;
}

/* Estilos para as caixas (boxes) na seção social */
.box img {
  width: 170px;
}

/* Estilos para o container dentro da seção social */
.social .container .boxes {
  display: flex;
}

/* Estilos para os parágrafos na seção social */
.social p {
  text-align: center;
}

/* Estilos para as caixas individuais na seção social */
.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para os títulos (h4) dentro das caixas sociais */
.box h4 {
  color: aqua;
}

/* Estilos para os parágrafos dentro das caixas sociais */
.box p {
  color: rgb(12, 12, 12);
}

/* Estilos para a seção de galeria cosplay */
.header-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para o título (h1) na seção de galeria cosplay */
.header-galeria h1 {
  font-size: 25px;
  font-weight: 900;
  color: aqua;
}

/* Estilos para o container da galeria */
.galeria-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2vw;
  padding: 0 2px;
  margin: 40px 40px;
}

/* Estilos para os itens individuais da galeria */
.galeria-itens {
  width: 280px;
  height: 170px;
  border: 10px solid #2b2b2b;
  box-shadow: 5px 5px 5px aqua;
}

/* Efeitos de hover nos itens da galeria */
.galeria-itens:hover {
  transition: .1s;
  transform: scale(1.1);
}

/* Estilos para as imagens dentro dos itens da galeria */
.galeria-itens img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para o rodapé (footer) */
.container-footer {
  background-color: black;
  align-items: center;
  justify-content: center;
}

/* Estilos para o container dentro do rodapé */
.footer-container {
  width: 100%;
  padding: 70px 30px 20px;
}

/* Estilos para os ícones sociais no rodapé */
.social-icons {
  display: flex;
  justify-content: center;
}

/* Estilos para os links sociais no rodapé */
.social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: #ededed;
  margin: 10px;
  border-radius: 25%;
}

/* Estilos para os ícones dentro dos links sociais no rodapé */
.social-icons a i {
  font-size: 2em;
  color: #121212;
  opacity: 0.9;
}

/* Efeito de hover nos links sociais do rodapé */
.social-icons a:hover {
  background-color: aqua;
  transition: 0.5s;
}

/* Estilos gerais para a seção de rodapé */
.footer {
  margin: 30px 0;
}

/* Estilos para a lista dentro do rodapé */
.footer ul {
  display: flex;
  justify-content: center;
}

/* Estilos para os links na lista do rodapé */
.footer ul li a {
  color: #ededed;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}

/* Efeito de hover nos links da lista do rodapé */
.footer ul li a:hover {
  color: aqua;
}

/* Estilos para a seção inferior do rodapé */
.footerBottom {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: #ededed;
}

/* Estilos para o container "eu" no rodapé */
.container-eu {
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Estilos para os parágrafos dentro do container "eu" no rodapé */
.container-eu p {
  color: #ededed;
  margin-left: 20px;
}

/* Estilos para o container do logotipo no rodapé */
.footer-logo {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Estilos para a imagem dentro do container "eu" no rodapé */
.container-eu img {
  border-radius: 25%;
}

/* Media Queries para design responsivo */

/* Para telas até 768px de largura */
@media only screen and (max-width: 768px) {
  .header {
    padding: 13px 5%;
  }

  .navbar {
    justify-content: center;
  }

  .navbar a {
    margin: 0 15px;
  }

  .banner .container {
    height: auto;
  }

  .banner p {
    margin: 20px 0;
    text-align: center;
    width: 100%;
  }

  .social .container .boxes {
    flex-direction: column;
  }

  .box {
    margin: 10px 0;
  }

  .galeria-itens {
    width: calc(50% - 20px);
  }
}

/* Para telas até 480px de largura */
@media only screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    margin: 10px 0;
  }

  .banner p {
    margin: 20px 0;
    text-align: center;
    width: 100%;
  }

  .social .container .boxes {
    flex-direction: column;
  }

  .box {
    margin: 10px 0;
  }

  .galeria-itens {
    width: 100%;
  }
}
